body {
    background: #FFFFFF;
}

.left-align,
.right-align {
    color: #FFFFFF;
    background: #FFFFFF;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}