<app-pagecontainer>
    <div class="main user-dashboard">
        <h1 class="page-heading">Users</h1>

        <app-panel>
            <h1 class="page-heading">Users</h1>
            <div class="heading">Users</div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Mobile</th>
                                <th>Balance</th>
                                <th>Active</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of users">
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.mobile }}</td>
                                <td>{{ user.balance }}</td>
                                <td><i class="fa " aria-hidden="true" [ngClass]="{ 'fa-toggle-on': user.accountActive, 'fa-toggle-off': !user.accountActive}" title={{user.accountActive}} (click)="toggleAccount(user.id,user.username,user.accountActive)"></i></td>
                                <!-- <td><i class="fa fa-toggle-on" aria-hidden="true" [ngClass]="{ 'fa-toggle-on': isActive, 'fa-toggle-off': !isActive}" (click)="toggleAccount(user.id,user.username)"></i></td> -->
                                <!-- <td><i class="fa fa-toggle-on" aria-hidden="true"></i></td> -->
                            </tr>
                            <!-- <tr>
                        <td>Raymond</td>
                        <td>Redington</td>
                        <td>red@blacklist.co.io</td>
                        <td><i class="fa fa-toggle-on" aria-hidden="true"></i></td>
                    </tr>
                    <tr>
                        <td>Dexter</td>
                        <td>Morgan</td>
                        <td>dexter.morgan</td>
                        <td><i class="fa fa-toggle-on" aria-hidden="true"></i></td>
                    </tr> -->
                        </tbody>
                    </table>
                </div>
            </div>
        </app-panel>
    </div>
</app-pagecontainer>