<!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

<!-- Add your site or application content here -->
<div class="login_page_area">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="login_page_inner">
                    <img src="assets/img/logo-big.png" alt="logo" />

                    <form class="form-signin" #f="ngForm" (ngSubmit)="signIn(f.value)">
                        <div *ngIf="invalidLogin" class="alert alert-danger">
                            Invalid username and/or password.
                        </div>
                        <div class="login_form_box">
                            <input type="text" name="username" ngModel placeholder="Email or Username" class="bg_one" />
                            <input type="text" name="password" ngModel placeholder="Password" class="bg_two" />

                            <a href="#">Forgot Password ?</a>
                            <input type="submit" value="LOGIN" class="l_s_btn"/>
                            <label><input type="checkbox" /> Keep me logged in</label>
                        </div>
                    </form>
                    <!-- <div class="log_with">
                        <p>
                            <span>Login With</span>
                        </p>
                        <div class="row">
                            <div class="col-md-6">
                                <button type="button" class="btn_f">Facebook</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn_t">Twitter</button>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn_g">Google+</button>
                            </div>

                            <div class="col-md-6">
                                <button type="button" class="btn_l">Linkedin</button>
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
    </div>
</div>