<app-pagecontainer>
    <div class="main user-dashboard">
        <h1 class="page-heading">Channels</h1>

        <app-panel>
            <div class="heading">Channel Details</div>
            <div class="body">
                <div *ngIf="RequestError" class="alert alert-danger">
                    Invalid username and/or password.
                </div>
                <div class="row-height">
                    <label>Name: </label>
                    <input type="text" [(ngModel)]="name" name="name" />
                </div>
                <div class="row-height">
                    <label>URL: </label>
                    <input type="text" [(ngModel)]="channelUrl" name="channelUrl" />
                </div>
                <div class="row-height">
                    <label>Logo: </label>
                    <input type="file" class="file-upload" (change)="channelLogo($event)" name="channelLogo" />
                </div>
                <div class="row-height">
                    <label>&nbsp;</label>
                    <input type="button" value="Update" class="btn btn-primary" (click)="update()" />
                </div>
            </div>
        </app-panel>
        <app-panel>
            <div class="heading">Channels</div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>URL</th>
                                <th>Logo</th>
                                <th>&nbsp;</th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let channel of channels">
                                <td>{{ channel.name }}</td>
                                <td>{{ channel.url }}</td>
                                <td><img src="{{channel.logoPath}}" class="channel-logo" alt="{{channel.name}}" /></td>
                                <td class="btn-grid right-align"><i class="fa fa-pencil" aria-hidden="true" title="Edit"></i></td>
                                <td class="btn-grid right-align"><i class="fa fa-times" aria-hidden="true" title="Delete" (click)="delete(channel.id,channel.name)"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-panel>
    </div>
</app-pagecontainer>