<div class="logo">
    <a hef="home.html"><img src="assets/img/logo-big.png" alt="merkery_logo" class="hidden-xs hidden-sm">
        <img src="assets/img/logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
    </a>
</div>
<div class="navi">
    <ul>
        <li><a href="/users"><i class="fa fa-user" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
        <li><a href="/transactions"><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Transactions</span></a></li>
        <li><a href="/channels"><i class="fa fa-television" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Channels</span></a></li>
        <li><a href="/gammatags"><i class="fa fa-tags" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Gamma Tags</span></a></li>
        <li><a href="/settings"><i class="fa fa-cog" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Settings</span></a></li>
    </ul>
</div>