<app-pagecontainer>
    <div class="main user-dashboard">
        <h1 class="page-heading">Transactions</h1>

        <app-panel>
            <div class="heading">Transactions</div>
            <div class="body">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Timestamp</th>
                                <th>Service</th>
                                <th>Total Gamma Buy</th>
                                <th>Total Amount Paid $</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>John</td>
                                <td>23/12/2010 03:43:49 PM</td>
                                <td>Memo</td>
                                <td>76</td>
                                <td>987</td>
                            </tr>
                            <tr>
                                <td>Redington</td>
                                <td>31/05/2018 09:19:12 PM</td>
                                <td>Memo</td>
                                <td>10</td>
                                <td>103</td>
                            </tr>
                            <tr>
                                <td>John</td>
                                <td>12/04/2014 01:40:53 PM</td>
                                <td>Memo</td>
                                <td>190</td>
                                <td>3221</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-panel>
    </div>
</app-pagecontainer>