<app-panel>
    <div class="heading">Change Password</div>
    <div class="body">
        <div class="row-height">
            <label>Current Password: </label>
            <input type="text" id="currentPassword" name="currentPassword" />
        </div>
        <div class="row-height">
            <label>New Password: </label>
            <input type="text" id="newPassword" name="newPassword" />
        </div>
        <div class="row-height">
            <label>Confirm New Password: </label>
            <input type="text" id="confirmPassword" name="confirmPassword" />
        </div>
        <div class="row-height">
            <label>&nbsp;</label>
            <input type="submit" value="Update" class="btn btn-primary" />
        </div>
    </div>
</app-panel>